/* Global */
body {
	margin-bottom: 0;
}

/* Home Page */

.nav-links {
	padding: 5px;
	margin-top: -5px;
	text-decoration: none;
}

#sign-in-div {
	width: 35%;
}

/* homepage */
.homepage-sign-in-confirm {
	color: white;
	font-size: 15px;
	display: inline-block;
	float: right;
	margin-top: -5px;
	margin-right: 25px;
	margin-top: 21px;
	border-radius: 5px;
	background-color: #8e8e8e;
	padding: 3px;
}

/* navbar */
.bg-faded {
	padding-top: 8px;
	height: 75px;
	background-color: #aee39e;
	margin-bottom: 17px;
}

nav i.material-icons {
	font-size: 5vw;
	margin-top: -6px;
}


nav .brand-logo {
	font-size: 5vw;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: -3px;
	text-decoration: none;
}

nav .brand-logo i.material-icons {
	float: left;
	margin-right: 5px;
}

.nav-links {
	padding: 5px;
	margin-right: 10px;
	font-size: 20px;
}

.logout {
	font-size: 20px;
}

/* Form Styling */

.text-center {
	margin-left: 464px;
}

.signUp-tag {
	margin-top: -1px;
	border: solid 1px #a1a1a1;
	border-radius: 5px;
	background-color: #a1a1a1;
	padding: 3px;
	color: white;
	font-size: 40px;
}

.signIn-tag {
	margin-top: -1px;
	border: solid 1px #a1a1a1;
	border-radius: 5px;
	background-color: #a1a1a1;
	padding: 3px;
	color: white;
	font-size: 40px;
}

.center-block {
	background-color: #aee39e;
	position: absolute;
	top: 200px;
	z-index: 10;
}

label {
	color: slategray;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
}

label .active {
	color: slategray;
}

/* Slide Show */

.slider {
	margin-top: -19px;
}

.slides {
	height: 100px;
}

.main-tag-h3-slideOne {
	background-color: #aee39e;
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	font-size: 50px;
}

.second-tag-slideOne {
	color: lightgrey;
}


.main-tag-h3-slideTwo {
	background-color: #aee39e;
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	font-size: 50px;
}

.second-tag-slideTwo {
	color: lightgrey;
	margin-left: 4px;
}

.main-tag-h3-slideThree {
	background-color: #aee39e;
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	font-size: 50px;
}

.second-tag-slideThree {
	color: #3d3d3d;
}

.main-tag-h3-slideFour {
	background-color: #aee39e;
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
	font-size: 50px;
}

.second-tag-slideFour {
	color: #3d3d3d;
}

/* Liver Channel Div*/
.liver-channel-info {
	border-radius: 5px;
	margin-top: -18px;
	margin-bottom: 5px;
	height: 50%;
	background-color: #e0e0dd;
}

.liver-div {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.liver-page-title {
	font-size: 30px;
	color: #606060;
	background-color: #aee39e;
	border: solid 2px white;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

.liver-channel-text {
	font-size: 25px;
}


/* SUBMIT Button */
.btn-danger {
	background-color: #a1a1a1;
}

.btn-danger:hover {
	background-color: #177100;
}

/* DROPDOWN */
.center {
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	padding-top: 10px;
	border-radius: 5px;
	background-color: #aee39e;
	float: right;
}

.dropdown-tag {
	font-size: 2vw;
  color: #5c5c5c;
	margin: 0;
	display: inline-block;
	border: solid 2px #5c5c5c;
	border-radius: 5px;
	background-color: white;
	padding-left: 3px;
	padding-right: 3px;
}

.select-dropdown {
	color: slategray;
}

.active {
	color: white;
}

.select-wrapper {
	text-align: center;
}

.dropdown-content {
	background-color: #bababa;
}

/* UserHome page - Points Data Div */

.points-data-div {
	float: right;
	padding: 10px;
	display: inline-block;
	margin-top: -18px;
	margin-bottom: 5px;
	margin-left: 2px;
	border-radius: 5px;
	background-color: #e0e0dd;
}

.points-data-div-title {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.channel-title {
	font-size: 30px;
}

.channel-number {
	font-size: 30px;
	color: slategray;
}

.points-data-div-english-name {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.english-name-title {
	font-size: 40px;
}

.english-name {
	font-size: 40px;
	color: slategray;
}

.points-data-div-pinyin-name {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.pinyin-name-title {
	font-size: 40px;
}

.pinyin-name {
	font-size: 40px;
	color: slategray;
}

.points-data-div-chinese_character {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.chinese_character-title {
	font-size: 40px;
}

.chinese_character {
	font-size: 40px;
	color: slategray;
}

.points-data-div-location {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.location-title {
	font-size: 30px;
}

.location {
	font-size: 20px;
	color: slategray;
}

.points-data-div-clinical-usage {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.clinical-usage-title {
	font-size: 30px;
}

.clinical-usage {
	font-size: 18px;
	color: slategray;
}

.points-data-div-point-associations {
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	margin-top: 10px;
	padding-left: 11px;
}

.point-associations-title {
	font-size: 30px;
}

.point-associations {
	font-size: 18px;
	color: slategray;
}


/* Diagram */

.diagram-wrapper {
	width: -webkit-fill-available;
	margin-top: ;
}

.diagram-div {
	border: 2px solid #aee39e;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin-top: -18px;
	margin-right: 2px;
	margin-bottom: 5px;
	height: 75%;
}

.diagram-title {
	display: inline-block;
	color: slategray;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
  margin-bottom: 0;
}

.materialboxed {
	width: 100%;
	height: auto;
}
