/********************************** Global **********************************/
body {
	margin-bottom: 0;
}

/********************************** Home Page **********************************/

.nav-links {
	padding: 5px;
	margin-top: -5px;
	text-decoration: none;
	letter-spacing: 4px;
}

#sign-in-div {
	width: 35%;
}

/********************************** HOMEPAGE - 2 **********************************/
.homepage-sign-in-confirm {
	font-family: "Work Sans";
	font-weight: lighter;
	color: white;
	font-size: 19px;
	display: inline-block;
	float: right;
	margin-top: -5px;
	margin-right: 25px;
	margin-top: 19px;
	border: solid 2px white;
	border-radius: 5px;
	background-color: #8e8e8e;
	padding: 3px;
	letter-spacing: 2px;
}

/********************************** NAV BAR **********************************/
.bg-faded {
	padding-top: 8px;
	height: 75px;
	background-color: #aee39e;
	margin-bottom: 17px;
}

nav i.material-icons {
	font-size: 5vw;
	margin-top: -6px;
}


nav .brand-logo {
	font-family: "Work Sans";
	font-weight: lighter;
	font-size: 5vw;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: -3px;
	text-decoration: none;
	letter-spacing: 9px;
}

nav .brand-logo i.material-icons {
	float: left;
	margin-right: 5px;
}

.nav-links {
	font-family: "Work Sans";
	font-weight: lighter;
	padding: 5px;
	margin-right: 10px;
	font-size: 20px;
}

nav ul a:hover {
	color: #585858;
}

.logout {
	font-family: "Work Sans";
	font-weight: lighter;
	font-size: 20px;
	letter-spacing: 4px;
}

/********************************** FORM STYLING **********************************/
input {
	font-family: "Work Sans";
	color: #6e6e6e;
}

.text-center {
	margin-left: 464px;
}

.signUp-tag {
	font-family: "Work Sans";
	font-weight: lighter;
	margin-top: -1px;
	border: solid 1px #a1a1a1;
	border-radius: 5px;
	background-color: #a1a1a1;
	padding: 3px;
	color: white;
	font-size: 40px;
}

.signIn-tag {
	font-family: "Work Sans";
	font-weight: lighter;
	margin-top: -1px;
	border: solid 1px #a1a1a1;
	border-radius: 5px;
	background-color: #a1a1a1;
	padding: 3px;
	color: white;
	font-size: 40px;
}

.center-block {
	background-color: #aee39e;
	position: absolute;
	top: 200px;
	z-index: 10;
}

label {
	color: slategray;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
}

label .active {
	color: slategray;
}

/********************************** SLIDE SHOW **********************************/

.slider {
	margin-top: -19px;
}

.slides {
	height: 100px;
}

.main-tag-h3-slideOne {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #aee39e;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	margin-top: 95px;
	letter-spacing: 5px;
}

.second-tag-slideOne {
	font-family: "Work Sans";
	color: white;
}


.main-tag-h3-slideTwo {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #aee39e;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	letter-spacing: 5px;
}

.second-tag-slideTwo {
	font-family: "Work Sans";
	color: slategrey;
	margin-left: 4px;
}

.main-tag-h3-slideThree {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #aee39e;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	letter-spacing: 5px;
}

.second-tag-slideThree {
	font-family: "Work Sans";
	color: #3d3d3d;
}

.main-tag-h3-slideFour {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #aee39e;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	letter-spacing: 5px;
}

.second-tag-slideFour {
	font-family: "Work Sans";
	color: #5c5a5a;
}

/********************************** LIVER CHANNEL DIV **********************************/

.liver-channel-info {
	border-radius: 5px;
	margin-top: -18px;
	margin-bottom: 5px;
	height: 50%;
	background-color: #e0e0dd;
}

.liver-div {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.liver-page-title {
	display: block;
	text-align: center;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 35px;
	color: #aee39e;
	background-color: #606060;
	border: solid 2px #606060;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 10px;
}

.liver-page-div-one {
	font-family: "Work Sans";
	background-color: #bcbcbc;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.liver-page-div-two {
	font-family: "Work Sans";
	background-color: #f1f1f1;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}
.liver-page-div-three {
	font-family: "Work Sans";
	background-color: #bcbcbc;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-four {
	font-family: "Work Sans";
	background-color: #f1f1f1;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-five {
	font-family: "Work Sans";
	background-color: #bcbcbc;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-six {
	font-family: "Work Sans";
	background-color: #f1f1f1;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-seven {
	font-family: "Work Sans";
	background-color: #bcbcbc;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-eight {
	font-family: "Work Sans";
	background-color: #f1f1f1;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
	margin-bottom: 5px;
}

.liver-page-div-nine {
	font-family: "Work Sans";
	background-color: #bcbcbc;
	font-size: 20px;
	border: solid 1px slategray;
	border-radius: 5px;
	color: #606060;
	padding-left: 5px;
	padding-right: 3px;
}

/********************************** SUBMIT BUTTONS **********************************/
.btn-danger {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #a1a1a1;
}

.btn-danger:hover {
	font-family: "Work Sans";
	font-weight: lighter;
	background-color: #177100;
}

/********************************** DROPDOWN **********************************/
.center {
	margin-top: -12px;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	padding-top: 10px;
	border-radius: 5px;
	background-color: #a2a2a2;
	float: right;
	height: 111px;
}

.dropdown-tag {
	font-family: "Work Sans";
	font-weight: lighter;
	font-size: 2vw;
  color: #5c5c5c;
	margin: 0;
	display: inline-block;
	border: solid 2px #5c5c5c;
	border-radius: 5px;
	background-color: #d9d9d9;
	padding-left: 3px;
	padding-right: 3px;
}

.select-wrapper input.select-dropdown {
	font-size: 1.5rem;
	color: #5a5a5b;
	text-align: center;
	display: inline-block;
	border-top: solid 2px slategray;
	margin-top: -2px;
}

.select-dropdown {
	color: #2b2b2b;
	background-color: slategray;
	border-radius: 5px;
}

.dropdown-content li>span {
	color: #749d52;
	font-size: 20px;
	text-align: center;
	font-family: "Work Sans";
	font-weight: 500;
	border-bottom: solid 1px slategray;
}

.select-wrapper {
	text-align: center;
}

.dropdown-content {
	background-color: #cfcfcf;
}


/********************************** USERHOME Page - Points Data Div **********************************/

.points-data-div {
	float: right;
	padding: 10px;
	display: inline-block;
	margin-top: -18px;
	margin-bottom: 5px;
	margin-left: 2px;
	border-radius: 5px;
	background-color: #e0e0dd;
}

.points-data-div-title {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.channel-title {
	font-size: 30px;
}

.channel-number {
	font-size: 30px;
	color: slategray;
}

.points-data-div-english-name {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.english-name-title {
	font-size: 40px;
}

.english-name {
	font-size: 40px;
	color: slategray;
}

.points-data-div-pinyin-name {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.pinyin-name-title {
	font-size: 40px;
}

.pinyin-name {
	font-size: 40px;
	color: slategray;
}

.points-data-div-chinese_character {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.chinese_character-title {
	font-size: 40px;
}

.chinese_character {
	font-size: 70px;
	color: slategray;
	font-family: "BiauKai Regular";
}

.points-data-div-location {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.location-title {
	font-size: 30px;
}

.location {
	font-size: 25px;
	color: slategray;
}

.points-data-div-clinical-usage {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	padding-left: 11px;
}

.clinical-usage-title {
	font-size: 30px;
}

.clinical-usage {
	font-size: 20px;
	color: slategray;
}

.points-data-div-point-associations {
	border: solid 1px slategray;
	border-radius: 5px;
	padding: 5px;
	background-color: #aee39e;
	margin-top: 10px;
	padding-left: 11px;
}

.point-associations-title {
	font-size: 30px;
}

.point-associations {
	font-size: 18px;
	color: slategray;
}


/********************************** DIAGRAM **********************************/

.diagram-wrapper {
	width: -webkit-fill-available;
	margin-top: ;
}

.diagram-div {
	border: 2px solid #aee39e;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	margin-top: -18px;
	margin-right: 2px;
	margin-bottom: 5px;
	height: 75%;
}

.diagram-title {
	font-family: "Work Sans";
	font-weight: lighter;
	letter-spacing: 2px;
	display: inline-block;
	border: solid 1px slategray;
	background-color: #aee39e;
	border-radius: 5px;
	text-align: center;
	color: slategray;
	font-size: 1vw;
	font-weight: 500;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
	margin-bottom: 6px;
}

.materialboxed {
	width: 100%;
	height: auto;
}
