/* Home Page */
.nav-links {
	padding: 5px;
	margin-top: -5px;
}

#sign-in-div {
	width: 35%;
}

/* homepage */
.homepage-sign-in-confirm {
	color: #999a9a;
	font-size: 15px;
	display: inline-block;
	float: right;
	margin-top: -5px;
	margin-right: 14px;
}

/* navbar */
.bg-faded {
	background-color: #177100;
}

nav .brand-logo {
	font-size: 55px;
	padding-left: 22px;
	margin-top: 4px;
}

.nav-links {
	padding: 5px;
	margin-right: 10px;
	font-size: 15px;
}

/* SUBMIT Button */
.btn-danger {
	background-color: #177100;
}

.btn-danger:hover {
	background-color: #91cd5b;
}

.dropdown-tag {
	font-size: 1rem;
  color: #5c5c5c;
}
